<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="userdatadir" value="C:\Users\DELL\AppData\Local\Google\Chrome\User Data" />
		<add key="chromedir" value="C:\Users\DELL\Downloads\chromedriver-win64 (1)\chromedriver-win64\chromedriver.exe" />
	</appSettings>
</configuration>